.header {
    background: transparent;
    color: rgb(36, 127, 211);
    width:auto;
    height: 15px;
    text-align: center;
    font:bold 12px arial;
    text-align: center;
    box-sizing: content-box;
   
}

.logo {
    width: 30px;
    height: 10px;
    padding:5px 5px;
    float: left;
    
}