#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/aikoBackGround.jpg");
    height:80px;
    width: 100%;
}

#aikoImg{
    margin-left: 50px;
}

#historyLink {
    margin-right: 50px;
}

.buttonLink {
  background-color: white;
  border:none;
  border-radius: 8px;
  height:32px;
  cursor: pointer;
  transition: filter 0.2s;
  font-family: 'Open Sans', sans-serif;
}

.buttonLink:hover{
  filter:brightness(0.8);
}

#footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
    position: relative;
    width: 100%;
    height: autop;
    background-image: url("../img/aikoMarine.jpg");
    color: #FFFFFF;
}

.footerContent{
  display: flex;
  flex-direction: column;
  width:230px;
  height: 200px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}

.linkFooter{
  color: white;
}