<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewreport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Operacao Floresta">
</head>
<body>
    <header>
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="titulo">Operação Florestal</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>
    <button mat-button [matMenuTriggerFor]="equipamentos" class="button-menu">Equipamentos</button>
    <mat-menu #equipamentos="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="posicoes">Posições</button>
    <button mat-menu-item [matMenuTriggerFor]="estado">Estado</button>
    <button mat-menu-item [matMenuTriggerFor]="historico">Historico</button>
    <a href="http://localhost:4200"><button mat-menu-item>Inicio</button></a>
    </mat-menu>

    <mat-menu #posicoes="matMenu">
        <a href="http://localhost:4200/posicao"><button mat-menu-item>Exibir Posições</button></a>
    </mat-menu>

    <mat-menu #estado="matMenu">
        <a href="http://localhost:4200/estado"><button mat-menu-item>Estado Atual</button></a>
    </mat-menu>

    <mat-menu #historico="matMenu">
        <a href="http://localhost:4200/historico"><button mat-menu-item>Historico de Estados</button></a>
    </mat-menu> 
    <div id="map"></div>
    <mat-toolbar>
        <mat-toolbar-row>
          <span class="rodape">&copy; 2020 - 2022 MadsonMendes | All Rights Reserved</span>
        </mat-toolbar-row>
    </mat-toolbar>
